.container {
	margin-left: 5%;
	margin-right: 5%;
}

.nav {
	width: 100%;
	height: 50px;
	margin-top: 0px;
	position: sticky;
	top: 0px;
	background: whitesmoke;
	line-height: 65px;
	text-align: center;
	z-index: 1;
}

b .nav div.logo img {
	margin-left: -20px;
}

.nav div.logo {
	margin-right: auto;
	width: 70px;
	height: 5px;
}

.nav div.logo a {
	text-decoration: none;
	color: white;
	font-size: 1.8em;
	text-transform: uppercase;
}

.nav div.logo a:hover {
	color: #c0c0c0;
}

.nav div.list {
	width: 600px;
	height: 65px;
	float: right;
}

.nav div.list ul {
	width: 100%;
	padding-bottom: 20px;
	height: 65px;
	display: flex;
	list-style: none;
}

.nav div.list ul li {
	margin-left: auto;
	width: 120px;
	height: 65px;
}

.nav div.list ul li a {
	text-decoration: none;
	padding-bottom: 200px;
	color: black;
	line-height: 65px;
	text-transform: uppercase;
}

.nav div.list ul li a:hover {
	color: #c0c0c0;
}

.nav div.drop_button {
	width: 40px;
	height: 40px;
	background-color: transparent;
	position: absolute;
	right: 15px;
	top: 12px;
	display: none;
}

.nav div.drop_button button.span_button {
	width: 100%;
	height: 100%;
	background-color: transparent;
	outline: 0;
	border: none;
	cursor: pointer;
}

.nav div.drop_button button.span_button span {
	width: 98%;
	height: 1px;
	display: block;
	background-color: black;
	margin-top: 9px;
	margin-bottom: 10px;
}

.nav div.drop_button button.span_button:hover span:nth-of-type(1) {
	transform: rotateY(180deg);
	transition: all 0.5s;
	background-color: black;
}

.nav div.drop_button button.span_button:hover span:nth-of-type(2) {
	transform: rotateY(180deg);
	transition: all 0.4s;
	background-color: black;
}

.nav div.drop_button button.span_button:hover span:nth-of-type(3) {
	transform: rotateY(180deg);
	transition: all 0.3s;
	background-color: black;
}

.nav div.drop_button button.active span:nth-of-type(1) {
	transform: rotate3d(0, 0, 1, 30deg);
	position: absolute;
	margin: 0;
}

.nav div.drop_button button.active span:nth-of-type(2) {
	display: none;
}

.nav div.drop_button button.active span:nth-of-type(3) {
	transform: rotate3d(0, 0, 1, -35deg);
	position: absolute;
	margin: 0;
}

.nav div.drop_button button.active:hover span:nth-of-type(1) {
	transform: rotate3d(0, 0, 1, 10deg);
}

.nav div.drop_button button.active:hover span:nth-of-type(3) {
	transform: rotate3d(0, 0, 1, -10deg);
}

@media screen and (min-width:768px) and (max-width:1024px) {
	.container {
		margin: 0;
	}

}

@media screen and (max-width:768px) {
	.container {
		margin: 0;
	}

	.nav div.logo {
		margin-left: 15px;
	}

	.nav div.list {
		width: 100%;
		margin-top: 65px;
		height: 0px;
		overflow: hidden;
	}

	.nav div.show_list {
		height: 200px;
	}

	.nav div.list ul {
		flex-direction: column;
		width: 100%;
		height: 200px;
		top: 80px;
		right: 0;
		left: 0;
	}

	.nav div.list ul li {
		width: 100%;
		height: 40px;
		z-index: 1;
		background-color: rgba(236, 236, 240, 0.8);
	}

	.nav div.list ul li a {
		text-align: center;
		line-height: 40px;
		width: 100%;
		height: 40px;
		display: table;
	}

	.nav div.drop_button {
		display: block;
	}

}