<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/nav.css" />
    <link rel="stylesheet" href="styles/index.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="nav">
      <div class="container">
        <div class="logo">
          <a href="#"><img src="images/logo.svg" alt="DreanHouse" /></a>
        </div>
        <div class="list" id="drop-down">
          <ul>
            <li><a href="#home-section">Home</a></li>
            <li><a href="#about-us-section">About</a></li>
            <li><a href="#services-section">Services</a></li>
            <li><a href="#contact-us-section">Contact Us</a></li>
          </ul>
        </div>
      

        <div class="drop_button">
          <button class="span_button" id="mediaButton">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
      </div>
    </nav>
    

    <!-- scripts here -->
    <script src="js_files/nav.js"></script>
  </body>
</html>
